<footer class="p-4 mt-8 bg-light">
	{{ function('dynamic_sidebar', 'sidebar-footer') }}
	<img class="w-64 h-auto" src="{{ asset('logo.svg') }}" />
	<div id="copyright">
		©{{ 'now'|date('Y') }}
		{{ theme.theme_mod('site_copyright_text', site.name) }}
	</div>
	{% if theme.theme_mod('site_footer_text') %}
		<div id="site-info">
			{{ theme.theme_mod('site_footer_text') }}
		</div>
	{% endif %}
</footer>

{{ function('wp_footer') }}
