<header class="p-2 md:p-4">
	<div class="flex items-center justify-between mx-auto">
		<h1>
			<a href="{{ site.url }}" title="{{ site.name }}" alt="{{ site.name }} logo">
				<img class="w-32 h-auto" src="{{ asset('logo.svg') }}" />
			</a>
		</h1>

		<!-- Desktop Nav -->
		<nav class="hidden md:block">
			<ul class="navbar">
				{% for item in menu.get_items %}
					<li class="navbar__item {{ item.get_children ? 'dropdown' }} {{item.classes | join(' ')}}">
						<a class="navbar__link" href="{{item.get_link}}">
						{{item.title}}
  					{{item.get_children ?
							'<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
								<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
							</svg>'
						}}
						</a>
					{% if item.get_children %}
						<ul class="dropdown__menu">
							{% for child in item.get_children %}
								<li class="dropdown__item">
									<a class="dropdown__link" href="{{child.get_link}}">
										{{child.title}}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					</li>
				{% endfor %}
			</ul>
		</nav>

	<!-- Mobile Nav -->
	<div class="mx-1 ml-4 md:hidden" x-data="{ open: false }">
	
		<!-- Mobile Menu Toggle -->
		<span @click="open = true">
			<button>
				<svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 fill-black" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
				</svg>
			</button>
		</span>

		<!-- Mobile Overlay Menu -->
		{% include "modals/mobile-nav.twig" %}
		
	</div>
	</div>

</header>
