<div class="my-8">
	<na class="flex justify-center text-sm">
		<ul class="flex p-0 overflow-hidden border border-gray-300">
			<li>
				{% if pagination.prev %}
					<a href="{{ pagination.prev.link }}"
						class="hover:bg-gray-200 block px-2 py-1 text-gray-800 border-r border-gray-300">
						&larr;
					</a>
				{% else %}
					<span class="block px-2 py-1 text-gray-400 border-r border-gray-300">
						&larr;
					</span>
				{% endif %}
			</li>
			{% for page in pagination.pages %}
				<li>
					{% if page.current or page.class == 'dots' %}
						<span class="block text-gray-400 border-r border-gray-300 px-2 py-1 {{
							page.class
							}}">
							{{ page.title }}
						</span>
					{% else %}
						<a href="{{ page.link }}"
							class="block text-gray-800 border-r border-gray-300 px-2 py-1 hover:bg-gray-200 {{
							page.class
							}}">
							{{ page.title }}
						</a>
					{% endif %}
				</li>
			{% endfor %}
			<li>
				{% if pagination.next %}
					<a href="{{ pagination.next.link }}"
						class="hover:bg-gray-200 block px-2 py-1 text-gray-800">
						&rarr;
					</a>
				{% else %}
					<span class="block px-2 py-1 text-gray-400">&rarr;</span>
				{% endif %}
			</li>
		</ul>
	</na>
</div>
